<a href="https://colab.research.google.com/github/iammook/Recommendation/blob/main/Demographic_Restaurant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path_res = "/content/drive/MyDrive/Colab Notebooks/Data/restaurant.csv"
df_restaurant = pd.read_csv(path_res)
# array_restaurant = df_restaurant.values
path_con = "/content/drive/MyDrive/Colab Notebooks/Data/cuisine.csv"
df_cuisine = pd.read_csv(path_con)
# array_cuisine = df_cuisine.values
path_test = "/content/drive/MyDrive/Colab Notebooks/Data/Test (1).csv"
df_test = pd.read_csv(path_test)
# array_cuisine = df_test.values
data_path = "/content/drive/MyDrive/Colab Notebooks/Data/Test_dataform3.csv"
data = pd.read_csv(data_path)

ดูจำนวนแถวและคอลัมน์

In [ ]:
print(df_restaurant.shape)

(1027, 15)

In [ ]:
df_restaurant.head(3)

   id                  name   latitude  ...   wifi  valetparking  rooftop
0   0  Razzberry Rhinoceros  19.102989  ...    yes           yes         no
1   1                  JLWA  19.060339  ...     no           yes         no
2   2               Tamasha  19.005862  ...     no           yes         no

[3 rows x 15 columns]

In [ ]:
df_restaurant.info

<bound method DataFrame.info of         id                        name  ...   valetparking   rooftop
0        0        Razzberry Rhinoceros  ...            yes          no
1        1                        JLWA  ...            yes          no
2        2                     Tamasha  ...            yes          no
3        3                Joey's Pizza  ...             no          no
4        4                     HITCHKI  ...            yes          no
...    ...                         ...  ...            ...         ...
1022  1028   Sequel Bistro & Juice Bar  ...             no          no
1023  1030                   Alfredo's  ...            yes          no
1024  1031  Little Hut Chinese Cuisine  ...             no          no
1025  1033        The Corner Club Cafe  ...             no          no
1026  1034                     The Den  ...            yes          no

[1027 rows x 15 columns]>

In [ ]:
print(df_cuisine.shape)

(3635, 3)

In [ ]:
df_cuisine.head(3)

   id  rid        cuisine
0   0    0  Mediterranean
1   1    0        Italian
2   2    0   North Indian

In [ ]:
df_cuisine.info

<bound method DataFrame.info of         id   rid        cuisine
0        0     0  Mediterranean
1        1     0        Italian
2        2     0   North Indian
3        3     0    Continental
4        4     1  Modern Indian
...    ...   ...            ...
3630  3630  1033   North Indian
3631  3631  1033    Continental
3632  3632  1034       European
3633  3633  1034       American
3634  3634  1034   North Indian

[3635 rows x 3 columns]>

In [ ]:
filter_cuisine_id = array_cuisine[array_cuisine[:,2] == 'Italian'] 
print(filter_cuisine_id[:15])

In [ ]:
filter_cuisine_id = filter_cuisine_id[:,1]
print(filter_cuisine_id[:15])

In [ ]:
df_test.info()

In [ ]:
df_test.head(10)

In [ ]:
df_test['homedelivery'] = df_test.homedelivery.replace(['no','yes'],[1,2])
df_test['smoking'] = df_test.smoking.replace(['no','yes'],[1,2])
df_test['alcohol'] = df_test.alcohol.replace(['no','yes'],[1,2])
df_test['wifi'] = df_test.wifi.replace(['no','yes'],[1,2])
df_test['valetparking'] = df_test.valetparking.replace(['no','yes'],[1,2])
# df_test['rooftop'] = df_test.rooftop.replace(['no','yes'],[1,2])
df_test['cuisine'] = df_test.cuisine.replace(['Mediterranean','Italian','North Indian','Continental','Modern Indian','European','Pizza','Grill','Finger Food','Mexican','Japanese','Asian'
,'Healthy Food','Indian','Cafe','Fast Food','Chinese','American','Mughlai','South Indian','Spanish','Lebanese','Burger','Desserts','Seafood','Salad'
,'Arabian','Modern Australian','Turkish','Greek','Cantonese','Dim Sum','Tea','Yum Cha','Fusion','Sushi','Beverages','Pan Asian','Thai','Goan','North Eastern','Parsi','Iranian','Juices','Sandwich','Street Food'
,'Biryani','Persian','Coffee and Tea','Bakery','Rolls','Ice Cream','Bar Food','Contemporary','British','Kebab','BBQ','Burmese'],[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58])

In [ ]:
df_test['cuisine'] = df_test.cuisine.replace(['Mediterranean','Italian','North Indian','Continental','Modern Indian','European','Pizza','Grill','Finger Food','Mexican','Japanese','Asian'
,'Healthy Food','Indian','Cafe','Fast Food','Chinese','American','Mughlai','South Indian','Spanish','Lebanese','Burger','Desserts','Seafood','Salad'
,'Arabian','Modern Australian','Turkish','Greek','Cantonese','Dim Sum','Tea','Yum Cha','Fusion','Sushi','Beverages','Pan Asian','Thai','Goan','North Eastern','Parsi','Iranian','Juices','Sandwich','Street Food'
,'Biryani','Persian','Coffee and Tea','Bakery','Rolls','Ice Cream','Bar Food','Contemporary','British','Kebab','BBQ','Burmese'],[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58])

In [ ]:
print(df_test.homedelivery.unique())
print(df_test.smoking.unique())
print(df_test.alcohol.unique())
print(df_test.wifi.unique())
print(df_test.valetparking.unique())
# print(df_test.rooftop.unique())
print(df_test.cuisine.unique())

In [ ]:
print(len(df_test.cuisine.unique()))

In [ ]:
df_test.head(10)

In [ ]:
x = df_test[['homedelivery','smoking','alcohol','wifi','valetparking']]
y = df_test[['cuisine']]

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(x, y, train_size=0.7, random_state=10)
print(train_x.count())

In [ ]:
print(train_y.count())

In [ ]:
print(test_x.count())

In [ ]:
print(test_x.count())

In [ ]:
Treemodel = tree.DecisionTreeClassifier()
KNNmodel = KNeighborsClassifier(n_neighbors=5)

Treemodel = Treemodel.fit(train_x, train_y)
KNNmodel = KNNmodel.fit(train_x, train_y)

In [ ]:
TreeScore = Treemodel.score(test_x, test_y)
KNNScore = KNNmodel.score(test_x, test_y)
print(TreeScore, KNNScore)

In [ ]:
another = [[1,2,2,2,2]]
print(Treemodel.predict(another))